---
title: Cookies
description: Cookies on GOV.UH content and publishing guidance
layout: page
eleventyExcludeFromCollections: true
---

<p class="govuk-body">The content and publishing guidance contains information pages. It does not require you to sign in or submit personal information to read them.</p>

<h2 class="govuk-heading-m">Analytics cookies</h2>
<p class="govuk-body">This guidance site does not use an analytics service or set analytics cookies.</p>

<h2 class="govuk-heading-m">Essential cookies</h2>
<p class="govuk-body">Cookies used for site delivery or security, if any, must be documented and checked against the live service configuration. See the <a class="govuk-link" href="https://www.gov.uhrblx.com/help/cookies/">GOV.UH cookie information</a> for the main government website.</p>

<p class="govuk-body">Publishing applications and public service transactions may use separate cookies. Their cookie information applies when you use those services.</p>
