{% extends "layouts/main.njk" %}

{% block container %}
  <main id="main-content" role="main" {%- if mainLang %} lang="{{ mainLang }}"{% endif %}>
<div class="x-govuk-masthead x-govuk-masthead--inverse">
  <div class="govuk-width-container">
    {% include "layouts/shared/phase-banner.njk" %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        {% if customPageTitle %}
        <h1 class="x-govuk-masthead__title">
          {{ customPageTitle | smart }}
        </h1>
        {% else %}
        <h1 class="x-govuk-masthead__title">
          {{ title | smart }}
        </h1>
        {% endif %}
        {% if description %}
        <p class="x-govuk-masthead__description">
        {{ description | markdown("inline") | noOrphans }}
        </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
    <div class="govuk-main-wrapper {%- if mainClasses %} {{ mainClasses }}{% endif %}">
      <div class="govuk-width-container {%- if containerClasses %} {{ containerClasses }}{% endif %}">
        {% block content %}
        
          {% if whatsNew and whatsNewDate %}
            <section>
              <h2 class="govuk-heading-l">What's new</h2>
              <h3 class="govuk-heading-s">{{ whatsNewDate }}{% if whatsNewHeadline %}: {{ whatsNewHeadline }}{% endif %}</h3>
              <p class="govuk-body">{{ whatsNew | markdown }}</p>
            </section>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
          {% endif %}

          {% if gridItems %}
            <section>
            <h2 class="govuk-heading-l">Featured</h2>
              <div class="govuk-grid-row">
                {% for item in gridItems %}
                  <div class="govuk-grid-column-one-third">
                    {% if item.title %}
                      <h3 class="govuk-heading-m govuk-!-margin-bottom-2">{{ item.title }}</h3>
                    {% endif %}
                    {% if item.description %}
                      <p class="govuk-body">{{ item.description }}</p>
                    {% endif %}
                    {% if item.url and item.linktext %}
                      <p class="govuk-body">
                        <a href="{{ item.url }}" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">{{ item.linktext }}</a>
                      </p>
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
            </section>
          {% endif %}

          {% if additionalInfo %}
          {% for item in additionalInfo %}
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <section class="app-additional-info">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  <h2 class="govuk-heading-l">{{ item.title }}</h2>
                  {{ item.content | markdown }}
                </div>
              </div>
            </section>
            {% endfor %}
          {% endif %}

          {{ appProseScope(content) if content }}
        
        {% endblock %}
      </div>
    </div>
  </main>
{% endblock %}