{# Extend GOV.UK Eleventy Plugin base layout #}
{% extends "layouts/base.njk" %}

{% block govukHeader %}
  {{ super() }}
{% endblock %}

{% block bodyEnd %}
  {# No UK Government analytics, Google Tag Manager or consent cookie is enabled. #}
{% endblock %}
{% block head %}
  {{ super() }}
  <meta name="govuk:rendering-app" content="govuk-content-publishing-guidance">
{% endblock %}